HappyString/bin/Debug/HappyString.dll
HappyString/bin/Debug/HappyString.dll
HappyString/bin/Debug/HappyString.dll
HappyString/bin/Debug/HappyString.dll
HappyString/obj/Debug/HappyString.pdb
HappyString/obj/Debug/HappyString.dll
HappyString/obj/Debug/HappyString.csproj.FileListAbsolute.txt
HappyString/bin/Debug/HappyString.pdb
HappyString/bin/Debug/HappyString.nuspec
HappyString/bin/Debug/HappyString.dll